<% include ../partials/header %>

<h1 class="center"> Register </h1>
<hr class="center">

<form action ="/register" method= "post" class="center">
    <div class="form-group">
        <label for="username">Username: </label>
        <input type ="text" class="form-control" name ="username" placeholder= "username"/>
    </div>
    <div class="form-group">
        <label for="password">Password: </label>
        <input type ="password" class="form-control" name ="password" placeholder= "password"/>
    </div>
    
    <button class="btn btn-success">Register</button>
</form>

<% include ../partials/footer %>