
<h2> Add new Comment to  <%=blog.title%></h2>
<form action="/blogs/<%=blog._id%>/comments" method="POST">
    <input type="text" name = "text" placeholder="Text"/>
    <input type="text" name = "author" placeholder="Athor"/>
    <button>Add Comment</button>
</form>