<% include ./partials/header %>

<h1>All Blogs will be displayed here </h1>


<br>
<br>


<% blogs.forEach(function(blog){ %>
    <img src="<%=blog.image%>" />
    <h2><%= blog.title %></h2>
    <p><%= blog.description.substr(0,100)+"......"  %></p>
    <a href="/blogs/<%= blog._id%>">Read more.. </a>
    <br>
<% }); %>


<% include ./partials/footer %>